# Supabase Configuration for Prisma Off-Chain Profiles & Realtime Stream Indexing
NEXT_PUBLIC_SUPABASE_URL=https://zvavbkbzdkmshslbswnu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2YXZia2J6ZGttc2hzbGJzd251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczNjk3ODMsImV4cCI6MjEwMjk0NTc4M30.qOzMnXAm-6yxYFS4sKm1gGjO22-3t9iw0DiNqLPnQUs
